<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.qisthi.cuit" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.TimelineActivity"
            android:label="@string/title_activity_timeline" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cuit"
                    android:scheme="cuitapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".activity.WriteTweetActivity"
            android:label="@string/title_activity_write_tweet"
            android:parentActivityName=".activity.TimelineActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.qisthi.cuit.activity.TimelineActivity" />
            >
        </activity>
        <activity
            android:name=".activity.TweetDetailActivity"
            android:label="@string/title_activity_tweet_detail"
            android:parentActivityName=".activity.TimelineActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.qisthi.cuit.activity.TimelineActivity" />
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="ff6b2925d9778f4b2ecab04117bfb00b1f1dcad2" />

        <activity
            android:name=".activity.TwitterUserActivity"
            android:label="@string/title_activity_twitter_user" >
        </activity>
    </application>

</manifest>
